body font {
  family: "Delicious"; }

a {
  color: #2244aa; }

.my_info font {
  family: "Delicious", "Adobe Garamond Pro"; }

#header font {
  family: "Optima"; }

p#description {
  background-color: #e1eefc;
  color: #333333; }

table#invoice tbody .hours, table#invoice tbody .rate {
  color: #888888; }
table#invoice tfoot {
  background-color: #fff7cf; }
  table#invoice tfoot td {
    border-top: 1px solid #d7ae56;
    background-color: #fff7cf; }

tr.even, li.even {
  background-color: #eeeeee; }

tr.odd, li.odd {
  background-color: #f8f8f8; }

#page .dashboard ul {
  font-size: 1.4em; }
#page .dashboard li {
  padding: 0.5em; }
#page .dashboard #main .grouped_time_logs .timelog .date {
  background-color: #e1eefc; }
#page .dashboard #main div.more {
  background-color: #fff7cf; }
  #page .dashboard #main div.more a {
    color: #2244aa; }
    #page .dashboard #main div.more a font {
      family: "Optima";
      size: 0.9em; }
#page .dashboard #secondary div.more {
  background-color: #fff7cf; }
  #page .dashboard #secondary div.more a {
    color: #2244aa; }
    #page .dashboard #secondary div.more a font {
      family: "Optima";
      size: 0.9em; }
