
#header
  %span dashboard for
  %h1= @customer.name 

.dashboard
  #main
    = render :partial => "dashboard/invoices", :locals => {:customer => @customer, :invoices => @customer.invoices} 
  
  #secondary
    = render :partial => "dashboard/time_clock", :locals => {:customer => @customer, :time_log => @customer.current_time_log}
    = render :partial => "dashboard/projects",   :locals => {:customer => @customer, :projects => @customer.projects}

  %br
